// referCont
#referCont {
    background: #F0EEEB;
    padding-bottom: 20vh;
}
.referTable {
    border-bottom: 2px solid #000;
    
    h2 {
        font-size: 30px;
        font-family: 'S-CoreDream-3Light';
        font-weight: normal;
    }
    
    li {
        margin: 0;
        list-style: none;
        border-top: 1px solid #000;
        position: relative;

        span {
            display: inline-block;
            padding: 21px 0;
            font-size: 16px;
            font-family: 'S-CoreDream-3Light';
            box-sizing: border-box;
        }
        .alpha {
            position: absolute; left: 0; top: 0;
        }
        .attr {
            padding-left: 10%;
            width: 35%;
        }
        .desc {
            width: 64.5%;
        }
    }
}